html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #F9F9F9;
}

/*general classes---------------------------*/

.placeholder-text::placeholder {
  font-family: 'Open-Sans', sans-serif;
  color: #898989;
}

.primary-button {
  height: 45px;
  width: 106px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

.primary-button:hover {
  background-color: #d8831b;
  color: white;
}

.mid-text {
  max-width: 480px;
  padding: 70px 0;
  margin-left: 171px;
}

.mid-text div {
  height: 0;
  width: 35px;
  background-color: #088155;
  border: 1px solid #088155;
}

.mid-text p {
  color: #088155;
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-bottom: 0;
}

/*header-------------------------------------*/

#header {
  padding: 9px;
  background-color: white;
}

#header .nav-link {
  margin-left: 20px;
  margin-top: 2px;
  color: #848484;
}

#header .nav-link:hover {
  color: #F1931F;
}

#header .telephone {
  color: #088155;
}

#header .telephone:hover {
  color: #086B47;
}

#header .btn {
  height: 45px;
  width: 177px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#header .btn:hover {
  background-color: #d8831b;
  color: white;
}

/*NAV------------------------------------*/

#nav {
  background-color: #086B47;
}

#nav .row {
  width: 800px;
}

#nav .row .nav-link {
  padding: 20px 0;
  font-size: 14px;
  color: white;
  border: 4px solid #086B47;
}

#nav .row .nav-link:hover {
  border-bottom: 4px solid #F1931F;
}

/*PAGE----------------------------*/

#upper-container .container-fluid {
  height: 443px;
  background-color: #088155;
}

#upper-container img {
  position: absolute;
  right: 0;
  width: 609px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

#upper-container .container-fluid .container-left {
  margin-left: 10px;
}

#upper-container .container-fluid .container-left .lines {
  margin-left: 122px;
  width: 35px;
  height: 275px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin-right: 18px;
}

#upper-container .container-fluid .container-left .text  {
  height: 290px;
  color: white;
  margin-top: -15px;
}

#upper-container .container-fluid .container-left .text h1 {
  font-size: 50px;
}

#upper-container .container-fluid .container-left .text p:first-of-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#upper-container .container-fluid .container-left .text p:last-of-type {
  max-width: 300px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#upper-container .container-fluid .container-left input {
  height: 51px;
  width: 430px;
  border: none;
  border-radius: 100px;
  padding: 0 30px;
}

#upper-container .container-fluid .container-left .btn {
  height: 51px;
  width: 106px;
  margin-left: -55px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#upper-container .container-fluid .container-left .btn:hover {
  background-color: #d8831b;
}

#about-sedi {
  max-width: 467px;
  margin-left: 223px;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #646464;
}

#locations-container {
  max-width: 1000px;
  margin: 50px auto;
  columns: 4;
  column-gap: 20px;
  margin-bottom: 70px;
}

#locations-container .location-columns{
  overflow: hidden;
  break-inside: avoid;
}

#locations-container .name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #088155;
}

#locations-container .open-locations a {
  margin: 0;
  margin-left: 15px;
  font-weight: 500;
  font-size: 18px;
  color: #646464;
}

#locations-container .open-locations span {
  font-size: 15px;
  color: #F1931F;
}

#map-footer {
  background-color: white;
}

/*FOOTER-------------------------------*/

#footer {
  min-height: 254px;
  background-color: white;
}

#footer .contacts {
  margin-top: 53px;
}

#footer .contacts .phone-adress p {
  margin: 20px;
  font-size: 25px;
  color: #088155;
}

#footer .contacts .phone-adress span, .register {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #646464;
}

#footer .contacts .social p, .newsletter p {
  color: #088155;
  font-size: 16px;
  margin: 14px 0;
}

#footer .contacts .social .icons img {
  margin-top: -5px;
  height: 30px;
}

#footer .contacts .social .icons .youtube-icon {
  height: 40px;
}

#footer .newsletter input {
  height: 51px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 0 30px;
}

#footer .newsletter .btn {
  height: 51px;
  width: 106px;
  margin-left: -55px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#footer .newsletter .btn:hover {
  background-color: #d8831b;
}

#footer .register {
  margin-bottom: 27px;
  text-align: center;
}





/*media queries-----------------------------*/

@media (max-width: 1299.98px) {
  #upper-container img {
    width: 510px;
  }
}

@media (max-width: 1199.98px) {
  #header .nav-link .btn {
    margin-left: 10px;
    margin: 0 10px;
  }

  .mid-text {
    margin-top: -60px;
    padding: 60px 0;
    margin-left: 100px;
  }

  .map-image {
    margin-left: 153px;
    position: relative;
    width: 510px;
    border-radius: 10px;
  }

}

@media (max-width: 991.98px) {
  #upper-container .container-fluid .container-left .lines {
    margin-left: 50px;
  }

  .map-image {
    margin-left: 100px;
  }

  /*PAGE-----------------*/

  .mid-text {
    margin-top: -60px;
    padding: 60px 0;
    margin-left: 100px;
  }

  #map-footer .map-image {
    display: block;
    margin: 0 auto;
  }

  #about-sedi {
    margin-right: 30px;
    margin-left: 150px;
  }

  #locations-container {
    margin-left: 20px;
    columns: 3;
  }
}

@media (max-width: 767.98px) {
  /*PAGE-------------------*/
  .mid-text {
    padding: 40px 0;
    margin-top: -60px;
    margin-left: 100px;
  }

  #locations-container {
    margin-left: 20px;
    columns: 3;
  }
}

@media (max-width: 575.98px) {
  #header .navbar-brand :first-child{
    height: 32px;
  }

  #header .navbar-brand :last-child{
    height: 13px;
    margin-left: 0px !important;
  }

  /*NAV---------------*/

  #nav .row .nav-link {
    font-size: 15px;
    padding: 8px;
  }

  /*PAGE-----------------*/

  #upper-container .container-fluid {
    justify-content: center;
    height: 400px;
  }

  #upper-container .container-fluid .container-left .lines {
    margin-left: -15px;
    width: 10px;
    height: 280px;
    margin-right: 8px;
  }

  .map-image {
    width: 90vw;
    margin-left: 15px;
  }

  #upper-container .container-fluid .container-left .text h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  #upper-container .container-fluid .container-left .text p:first-of-type {
    font-size: 20px;
  }
  
  #upper-container .container-fluid .container-left .text p:last-of-type {
    text-align: justify;
    max-width: 280px;
    font-size: 16px;
  }
  
  #upper-container .container-fluid .container-left input {
    width: 300px;
    padding: 0 18px;
  }

  #upper-container .container-fluid .container-left .input-button {
    align-items: center;
    margin: 0;
  }
  
  #upper-container .container-fluid .container-left .btn {
    margin-top: 8px;
    width: 150px;
    margin-left: 0px;
  }

  .mid-text {
    margin-top: -60px;
    padding: 40px 0;
    margin-left: 30px;
  }

  #about-sedi {
    margin-right: 30px;
    margin-left: 30px;
  }

  #locations-container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  /*FOOTER---------------------*/

  #footer .newsletter .btn {
    margin-top: 5px;
    margin-left: 0px;
  }

  #footer .contacts {
    margin-left: 0px;
    justify-content: flex-start !important;
  }
}