html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #E5E5E5;
}

/*general classes---------------------------*/

.placeholder-text::placeholder {
  font-family: 'Open-Sans', sans-serif;
  color: #898989;
}

.primary-button {
  height: 45px;
  width: 106px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

.primary-button:hover {
  background-color: #d8831b;
  color: white;
}

.mid-text {
  padding: 70px 0;
  margin-left: 122px;
}

.mid-text div {
  height: 0;
  width: 35px;
  background-color: #088155;
  border: 1px solid #088155;
}

.mid-text p {
  color: #088155;
  font-size: 20px;
  font-weight: 600;
  margin-left: 18px;
  margin-bottom: 0;
}

/*header-------------------------------------*/

#header {
  padding: 9px;
  background-color: white;
}

#header .nav-link {
  margin-left: 20px;
  margin-top: 2px;
  color: #848484;
}

#header .nav-link:hover {
  color: #F1931F;
}

#header .telephone {
  color: #088155;
}

#header .telephone:hover {
  color: #086B47;
}

#header .btn {
  height: 45px;
  width: 177px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#header .btn:hover {
  background-color: #d8831b;
  color: white;
}

/*NAV------------------------------------*/

#nav {
  background-color: #086B47;
}

#nav .row {
  width: 800px;
}

#nav .row .nav-link {
  padding: 20px 0;
  font-size: 14px;
  color: white;
  border: 4px solid #086B47;
}

#nav .row .nav-link:hover {
  border-bottom: 4px solid #F1931F;
}

/*PAGE----------------------------*/

#upper-container .container-fluid {
  height: 526px;
  background-color: #088155;
}

#upper-container img {
  position: absolute;
  right: 0;
  height: 584px;
  width: 503px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

#upper-container .container-fluid .container-left {
  margin-left: 10px;
}

#upper-container .container-fluid .container-left .lines {
  margin-left: 122px;
  width: 35px;
  height: 295px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin-right: 18px;
}

#upper-container .container-fluid .container-left .text  {
  height: 310px;
  color: white;
  margin-top: -15px;
}

#upper-container .container-fluid .container-left .text h1 {
  font-size: 50px;
}

#upper-container .container-fluid .container-left .text p:first-of-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#upper-container .container-fluid .container-left .text p:last-of-type {
  max-width: 300px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#upper-container .container-fluid .container-left input {
  height: 51px;
  width: 430px;
  border: none;
  border-radius: 100px;
  padding: 0 30px;
}

#upper-container .container-fluid .container-left .btn {
  height: 51px;
  width: 106px;
  margin-left: -55px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#upper-container .container-fluid .container-left .btn:hover {
  background-color: #d8831b;
}