html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #F9F9F9;
}

/*general classes---------------------------*/

.placeholder-text::placeholder {
  font-family: 'Open-Sans', sans-serif;
  color: #898989;
}

.primary-button {
  height: 45px;
  width: 106px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

.primary-button:hover {
  background-color: #d8831b;
  color: white;
}

.mid-text {
  max-width: 530px;
  padding: 70px 0;
  margin-left: 272px;
}

.mid-text div {
  height: 0;
  width: 35px;
  background-color: #088155;
  border: 1px solid #088155;
}

.mid-text p {
  color: #088155;
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-bottom: 0;
}

/*header-------------------------------------*/

#header {
  height: 82px;
  background-color: white;
  z-index: 10;
}

#header .container {
  width: 1200px;
  margin-top: 10px;
}

#header .navbar-toggler {
  border: none;
}

#header .expand-icon {
  fill: #088155;
}

#header .contact-icons {
  fill: #C4C4C4;
}

#header .contact-icons a {
  font-size: 14px;
  color: #d8831b;
}

#header .active, #header .icons:hover {
  fill: #F1931F;
}

#header .collapsed-menu {
  height: 40px;
  width: 200px;
}

#header .nav-link {
  color: #848484;
}

#header .nav-link:hover {
  color: #F1931F;
}

#header .telephone {
  color: #088155;
}

#header .telephone:hover {
  color: #086B47;
}

#header .btn, #small-nav .btn {
  height: 45px;
  width: 177px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#header .btn:hover, #small-nav .btn {
  background-color: #d8831b;
  color: white;
}

/*NAV------------------------------------*/

#small-nav {
  position: absolute;
  min-height: 120vh;
  width: 100vw;
  padding-left: 40px;
  background-color: #086B47;
  z-index: 15;
}

#small-nav .item {
  color: white;
}

#small-nav .item .active {
  color: #F1931F;
}

#small-nav .open-items .main-items {
  margin: 0;
  font-size: 12px;
  color: #F1931F;
  text-transform: uppercase;
}

#small-nav .open-items .sub-items {
  margin: 0;
  max-width: 150px;
  color: white;
  font-family: 'Open-Sans', sans-serif;
  font-size: 11px;
}

#small-nav .line {
  width: 245px;
  border-bottom: 1px solid white;
}

#nav {
  background-color: #086B47;
  margin-top: 82px;
}

#nav .row {
  width: 800px;
}

#nav .row .nav-link {
  padding: 20px 0;
  font-size: 14px;
  color: white;
  border: 4px solid #086B47;
}

#nav .row .nav-link:hover {
  border-bottom: 4px solid #F1931F;
}

/*PAGE----------------------------*/

#upper-container .container-fluid {
  height: 597px;
  background-color: #088155;
}

#upper-container .map {
  position: absolute;
  top: 200px;
  right: 223px;
  width: 445px;
  object-fit: cover;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
}

#upper-container .map span {
  color: white;
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
}

#upper-container .container-fluid .container-left {
  margin-left: 10px;
}

#upper-container .container-fluid .container-left .lines {
  margin-left: 122px;
  width: 35px;
  border-top: 1px solid white;
  margin-right: 18px;
}

#upper-container .container-fluid .container-left .text  {
  height: 500px;
  color: white;
  margin-top: -15px;
}

#upper-container .container-fluid .container-left .text h1 {
  max-width: 388px;
  font-size: 30px;
}

#upper-container .container-fluid .container-left .text p:first-of-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#upper-container .container-fluid .container-left .text p:last-of-type {
  max-width: 386px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#upper-container .contacts-container {
  height: 200px;
}

#upper-container .contacts-container svg {
  fill: #F9F9F9
}

#upper-container .contacts-container span {
  max-width: 285px;
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
}

#upper-container .container-fluid .container-left .btn {
  height: 45px;
  width: 195px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#upper-container .container-fluid .container-left .btn:hover {
  background-color: #d8831b;
}

#central-texts .texts {
  margin-left: 310px;
  max-width: 800px;
  color: #646464;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/*FOOTER-------------------------------*/

#footer {
  min-height: 254px;
  background-color: white;
}

#footer .contacts {
  margin-top: 53px;
}

#footer .contacts .phone-adress p {
  margin: 20px;
  font-size: 25px;
  color: #088155;
}

#footer .contacts .phone-adress span, .register {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #646464;
}

#footer .contacts .social p, .newsletter p {
  color: #088155;
  font-size: 16px;
  margin: 14px 0;
}

#footer .contacts .social .icons img {
  margin-top: -5px;
  height: 30px;
}

#footer .contacts .social .icons .youtube-icon {
  height: 40px;
}

#footer .newsletter input {
  height: 51px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 0 30px;
}

#footer .newsletter .btn {
  height: 51px;
  width: 106px;
  margin-left: -55px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#footer .newsletter .btn:hover {
  background-color: #d8831b;
}

#footer .register {
  margin-bottom: 27px;
  text-align: center;
}





/*media queries-----------------------------*/

@media (max-width: 1300.98px) {
  #upper-container .map {
    right: 150px;
  }
}

@media (max-width: 1199.98px) {
  #header .nav-link .btn {
    margin-left: 10px;
    margin: 0 10px;
  }

  .mid-text {
    margin-top: -60px;
    padding: 60px 0;
    margin-left: 100px;
  }

  #central-texts .texts {
    margin-left: 140px;
  }

  .map-image {
    margin-left: 153px;
    position: relative;
    width: 510px;
    border-radius: 10px;
  }

}

@media (max-width: 991.98px) {
  #upper-container {
    margin-top: 82px;
  }

  #upper-container .container-fluid .container-left .lines {
    margin-left: 50px;
  }

  .map-image {
    margin-left: 100px;
  }

  /*PAGE-----------------*/

  .mid-text {
    margin-bottom: 0;
    margin-top: -60px;
    margin-left: 70px;
  }

  #central-texts .texts {
    margin-left: 0;
    padding: 0 50px;
  }

  #map-footer .map-image {
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 767.98px) {
  /*PAGE-------------------*/
  .mid-text {
    padding: 40px 0;
    margin-top: -60px;
    margin-left: 40px;
  }
}

@media (max-width: 575.98px) {
  #header {
    height: 51px;
  }

  #header .container {
    margin-top: -2px;
  }

  #header .navbar-brand img {
    width: 40px;
  }

  #header .navbar-brand :first-child{
    height: 32px;
  }

  #header .navbar-brand :last-child{
    height: 13px;
    margin-left: 0px !important;
  }

  /*NAV---------------*/

  #nav .row .nav-link {
    font-size: 15px;
    padding: 8px;
  }

  /*PAGE-----------------*/

  #upper-container {
    margin-top: 51px;
  }

  #upper-container .container-fluid {
    justify-content: center;
    height: 600px;
  }

  #upper-container .container-fluid .container-left .lines {
    margin-left: -15px;
    width: 10px;
    height: 280px;
    margin-right: 8px;
  }

  #upper-container .container-fluid .container-left .text h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  #upper-container .container-fluid .container-left .text p:first-of-type {
    font-size: 20px;
  }
  
  #upper-container .container-fluid .container-left .text p:last-of-type {
    text-align: justify;
    max-width: 280px;
    font-size: 16px;
  }

  #upper-container .container-fluid .container-left .text {
    height: 550px;
  }
  
  #upper-container .container-fluid .container-left .btn {
    margin-top: 8px;
    margin-left: 0px;
  }

  .mid-text {
    margin-top: -60px;
    padding: 40px 0;
    margin-left: 20px;
  }

  #map-footer .map-image {
    margin-top: -2 auto;
    border-radius: 0;
    width: 102vw;
  }

  /*FOOTER---------------------*/

  #footer .newsletter .btn {
    margin-top: 5px;
    margin-left: 0px;
  }

  #footer .contacts {
    margin-left: 0px;
    justify-content: flex-start !important;
  }
}