html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #F9F9F9;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*general classes---------------------------*/

.placeholder-text::placeholder {
  font-family: 'Open-Sans', sans-serif;
  color: #898989;
}

.primary-button {
  height: 45px;
  width: 106px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

.primary-button:hover {
  background-color: #d8831b;
  color: white;
}

.mid-text {
  margin-left: 170px;
}

.mid-text div {
  width: 35px;
  background-color: #088155;
  border: 1px solid #088155;
}

.mid-text p {
  color: #088155;
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-bottom: 0;
}

/*header-------------------------------------*/

#header {
  height: 82px;
  background-color: white;
  z-index: 10;
}

#header .container {
  width: 1200px;
  margin-top: 10px;
}

#header .navbar-toggler {
  border: none;
}

#header .expand-icon {
  fill: #088155;
}

#header .contact-icons {
  fill: #C4C4C4;
}

#header .contact-icons a {
  font-size: 14px;
  color: #d8831b;
}

#header .active, #header .icons:hover {
  fill: #F1931F;
}

#header .collapsed-menu {
  height: 40px;
  width: 200px;
}

#header .nav-link {
  color: #848484;
}

#header .nav-link:hover {
  color: #F1931F;
}

#header .telephone {
  color: #088155;
}

#header .telephone:hover {
  color: #086B47;
}

#header .btn, #small-nav .btn {
  height: 45px;
  width: 177px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#header .btn:hover, #small-nav .btn {
  background-color: #d8831b;
  color: white;
}

/*NAV------------------------------------*/

#small-nav {
  position: absolute;
  min-height: 120vh;
  width: 100vw;
  padding-left: 40px;
  background-color: #086B47;
  z-index: 15;
}

#small-nav .item {
  color: white;
}

#small-nav .item .active {
  color: #F1931F;
}

#small-nav .open-items .main-items {
  margin: 0;
  font-size: 12px;
  color: #F1931F;
  text-transform: uppercase;
}

#small-nav .open-items .sub-items {
  margin: 0;
  max-width: 150px;
  color: white;
  font-family: 'Open-Sans', sans-serif;
  font-size: 11px;
}

#small-nav .line {
  width: 245px;
  border-bottom: 1px solid white;
}

#nav {
  background-color: #086B47;
  margin-top: 82px;
}

#nav .row {
  width: 800px;
}

#nav .row .nav-link {
  padding: 20px 0;
  font-size: 14px;
  color: white;
  border: 4px solid #086B47;
}

#nav .row .nav-link:hover {
  border-bottom: 4px solid #F1931F;
}

#nav-collapse .collapse {
  height: 217px;
}

#nav-collapse p {
  margin: 0;
}

#nav-collapse .question {
  padding: 20px 0;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}

#nav-collapse .question span {
  color: #F1931F;
}

#nav-collapse .line {
  width: 690px;
  border-bottom: 1px solid #C4C4C4;
}

#nav-collapse .menu {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(2, 75px);
}

#nav-collapse .menu .mid-col {
  justify-self: center;
}

#nav-collapse .menu .end-col {
  justify-self: end;
}

#nav-collapse .menu .item {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F1931F;
}

#nav-collapse .menu .sub-item {
  max-width: 150px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 11px;
  color: #848484;
}

/*PAGE----------------------------*/

#upper-container {
  background-color: #088155;
  height: 350px;
}

#upper-container .profile-photo {
  position: relative;
  right: 122px;
  width: 284px;
  height: 397px;
  object-fit: cover;
}

#upper-container .container-fluid .container-left {
  margin-left: 10px;
}

#upper-container .container-fluid .lines {
  margin-top: 70px;
  margin-left: 223px;
  height: 274px;
  width: 35px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin-right: 5px;
}

#upper-container .container-fluid .container-left .text  {
  height: 180px;
  color: white;
  margin-bottom: 50px;
}

#upper-container .container-fluid .container-left .text span  {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#upper-container .container-fluid .container-left .text .contacts span {
  font-weight: 400;
  font-size: 16px;
}

#upper-container .container-fluid .container-left .text h1 {
  max-width: 600px;
  font-size: 50px;
}

#upper-container .container-fluid .container-left .text p:first-of-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#upper-container .container-fluid .container-left .text p:last-of-type {
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#preventivo {
}

#preventivo .preventivo-container {
  margin-left: 50px;
  margin-top: -50px;
  padding: 50px;
  background-color: white;
  max-width: 892px;
  min-height: 1044px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

#preventivo .preventivo-container label {
  margin-bottom: 20px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  color: #3D3D3D;
}

#preventivo .selects select {
  margin-bottom: 40px;
  padding: 0 15px;
  appearance: none;
  width: 229px;
  height: 45px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  color: #848484;
  font-family: 'Open-Sans', sans-serif;
}

#preventivo .selects .valore-select select {
  width: 331px;
}

#preventivo .selects .dropdown-icon {
  position: relative;
  margin-left: -35px
}

#preventivo .preventivo-container .radio-label {
  white-space: nowrap;
  margin-right: 105px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 14px;
  color: #3D3D3D;
}

#preventivo .input-radios input {
  margin-right: 5px;
  width: 19px;
  height: 19px;
}

#preventivo .preventivo-container .visualizza-radio .radio-label {
  margin-right: 188px;
}

#preventivo .line {
  max-width: 790px;
  border-bottom: 2px solid #E6E6E6;
}

#preventivo .notice {
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
  color: #848484;
}

#preventivo .notice-green {
  color: #098155;
  font-weight: 700;
}

#preventivo .notice-bottom {
  max-width: 550px;
} 

#preventivo .costs-table {
  max-width: 689px;
  min-height: 262px;
  background-color: #F9F9F9;
  border-radius: 10px;
}

#preventivo .costs-table .title {
  padding: 11px 60px;
  background-color: #088155;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#preventivo .costs-table .title p {
  margin: 0;
  font-size: 14px;
  text-align: right;
  color: white;
}

#preventivo .costs-table .costs {
  display: grid;
  justify-content: center;
  grid-template-columns: 520px 50px;
  grid-template-rows: repeat(6, 31px);
}

#preventivo .costs-table .costs p {
  font-family: 'Open-Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #3D3D3D;
}

#preventivo .costs-table .costs .value {
  justify-self: end;
  font-weight: 700;
}

#preventivo .costs-table .costs .total-name {
  margin: 0;
  align-self: center;
  font-weight: 700;
  color: #088155;
}

#preventivo .costs-table .costs div {
  align-self: center;
}

#preventivo .costs-table .costs .total-value {
  margin: 0;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  color: #088155;
}

#recomended-container {
  background-color: #F4F4F4;
}

#recomended-container .grid-container .cards {
  width: 284px;
  height: 308px;
  background-color: white;
  border-radius: 10px;
}

#recomended-container .grid-container .cards p {
  margin: 0;
}

#recomended-container .grid-container .cards .title {
  display: flex;
  align-items: center;
  height: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: #F1931F;
}

#recomended-container .grid-container .cards .title p {
  margin-left: 25px;
}

#recomended-container .grid-container .cards .info-text-only {
  height: 228px;
}

#recomended-container .grid-container .cards .info {
  height: 237px;
}

#recomended-container .grid-container .cards .info .author {
  margin-top: 19px;
  margin-left: 25px;
  font-size: 10px;
  color: #6E798C;
}

#recomended-container .grid-container .cards .title-date {
  color: #6E798C;
  font-size: 11px;
  font-weight: 600;
  margin: 9px 25px;
}

#recomended-container .grid-container .cards .text {
  max-width: 235px;
  margin: 0 25px;
  font-size: 16px;
}

#recomended-container .grid-container .cards .link {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #088155;
  position: relative;
  right: 20px;
}

/*FOOTER-------------------------------*/

#footer {
  min-height: 254px;
  background-color: white;
}

#footer .contacts {
  margin-top: 53px;
}

#footer .contacts .phone-adress p {
  margin: 20px;
  font-size: 25px;
  color: #088155;
}

#footer .contacts .phone-adress span, .register {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #646464;
}

#footer .contacts .social p, .newsletter p {
  color: #088155;
  font-size: 16px;
  margin: 14px 0;
}

#footer .contacts .social .icons img {
  margin-top: -5px;
  height: 30px;
}

#footer .contacts .social .icons .youtube-icon {
  height: 40px;
}

#footer .newsletter input {
  height: 51px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 0 30px;
}

#footer .newsletter .btn {
  height: 51px;
  width: 106px;
  margin-left: -55px;
  font-size: 14px;
  background-color: #F1931F;
  color: white;
  border-radius: 100px;
  transition: 0.2;
}

#footer .newsletter .btn:hover {
  background-color: #d8831b;
}

#footer .register {
  margin-bottom: 27px;
  text-align: center;
}





/*media queries-----------------------------*/

@media (max-width: 1199.98px) {
  #header .nav-link .btn {
    margin-left: 10px;
    margin: 0 10px;
  }

  #upper-container .container-fluid .container-left .text h1 {
    max-width: 500px;
  }

  #upper-container .profile-photo {
    object-fit: cover;
    object-position: top;
    top: 20px;
    height: 300px;
    width: 200px;
  }

  #profile-about .text {
    margin-left: 155px;
  }

}

@media (max-width: 991.98px) {
  #upper-container {
    margin-top: 82px;
  }

  #upper-container .container-fluid .lines {
    margin-left: 70px;
  }

  #upper-container .container-fluid .container-left .text h1 {
    max-width: 500px;
  }

  #upper-container .profile-photo {
    right: 20px;
  }

  #opinion-cards .link-container {
    max-width: 400px;
  }

  /*PAGE-----------------*/


  #profile-about .text {
    margin-left: 125px;
    margin-right: 20px;
  }

}

@media (max-width: 767.98px) {
  /*PAGE-------------------*/

  .mid-text {
    margin-left: 40px;
    max-width: 570px;
  }

  #upper-container .container-fluid .contacts-container .media-col {
    height: 277px;
  }

  #upper-container .container-fluid .lines {
    margin-left: 50px;
  }

  #upper-container .container-fluid .container-left .text h1 {
    max-width: 500px;
    font-size: 40px;
  }

  #upper-container .container-fluid .container-left .text {
    height: 180px;
  }

  #upper-container .container-fluid .container-left .phone {
    margin-bottom: 10px;
  }

  #preventivo .notice {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    color: #848484;
  }
  
  #preventivo .notice-green {
    color: #098155;
  }

  #preventivo .preventivo-container .visualizza-radio {
    height: 90px;
  }

  #preventivo .costs-table .costs {
    display: grid;
    justify-content: center;
    grid-template-columns: 390px 50px;
    grid-template-rows: repeat(6, auto);
  }

  /*FOOTER--------------*/

  #footer {
    height: 350px;
  }

  #footer .newsletter input {
    height: 40px;
  }

  #footer .newsletter .btn {
    width: 115px;
    height: 40px;
  }

  #footer .contacts {
    height: 400px;
    margin: 40px 0 20px 0;
  }

  #footer .contacts .phone-adress p {
    font-size: 20px;
  }

  #footer .contacts .phone-adress span {
    font-size: 12px;
  }

  #footer .contacts .register {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  #header {
    height: 51px;
  }

  #header .container {
    margin-top: -2px;
  }

  #header .navbar-brand img {
    width: 40px;
  }

  #header .navbar-brand :first-child{
    height: 32px;
  }

  #header .navbar-brand :last-child{
    height: 13px;
    margin-left: 0px !important;
  }

  /*NAV---------------*/

  #nav .row .nav-link {
    font-size: 15px;
    padding: 8px;
  }

  /*PAGE-----------------*/

  #upper-container {
    height: 350px;
    margin-top: 51px;
  }

  #upper-container .container-fluid {
    height: 300px;
  }

  #upper-container .container-fluid .lines {
    margin-top: 140px;
    margin-left: 20px;
    width: 10px;
    height: 300px;
  }

  #upper-container .container-fluid .container-left .text {
    height: 130px;
  }
  
  #upper-container .container-fluid .container-left .text h1 {
    margin-top: 35px;
    font-size: 25px;
  }

  .mid-text {
    max-width: 330px;
    margin-top: 30px;
    margin-left: 10px
  }

  .mid-text p {
    font-size: 16px;
  }

  #preventivo {
    padding-bottom: 0px !important;
  }

  #preventivo .preventivo-container {
    width: 100vw;
    padding: 20px;
    border-radius: 0px;
  }
  
  #preventivo .preventivo-container label {
    font-size: 14px;
  }
  
  #preventivo .selects .valore-select select {
    width: 310px;
  }
  
  #preventivo .costs-table .title {
    padding: 11px 25px;
  }
  
  #preventivo .costs-table .costs {
    grid-template-columns: auto 50px;
    grid-template-rows: repeat(6, auto);
    column-gap: 5px;
  }

  /*FOOTER---------------------*/

  #footer {
    height: 530px;
  }

  #footer .newsletter input {
    height: 40px;
  }

  #footer .newsletter .btn {
    width: 115px;
    height: 40px;
    margin-top: 5px;
    margin-left: 0px;
  }

  #footer .contacts {
    height: 400px;
    margin: 30px 0 20px 0;

    flex-direction: column;
    justify-content: space-between !important;
  }

  #footer .contacts .phone-adress p {
    font-size: 20px;
  }

  #footer .contacts .phone-adress span {
    font-size: 12px;
  }

  #footer .contacts .register {
    font-size: 14px;
  }
}