html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #F9F9F9;

}

p {
  margin: 0;
  color: #3D3D3D;
}

input[type=text] {
  width: 325px;
  height: 42px;
  color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
}

input:focus {
  outline: none !important;
  border: 1px solid #F1931F;
}

input[type=checkbox] {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
  margin: 5px;
}

select {
  width: 325px;
  height: 42px;
  color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  background-image: url("Images/select-dropdown.svg");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
}

select:focus {
  outline: none !important;
  border: 1px solid #F1931F;
}

textarea {
  color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #F1931F;
}

/*general classes---------------------------*/

.placeholder-text::placeholder {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #898989;
}

#side-menu .menu .active, 
#side-menu .menu .active p, 
#side-menu .menu .active .menu-icons path {
  background-color: #088155;
  color: white;
  fill: white;
  text-decoration: none;
}

.line {
  border: 0.5px solid #C4C4C4;
}

/*page-------------------------------------------*/

main {
  height: 100vh;
}

#side-menu {
  background-color: white;
  width: 258px;
  height: 100vh;
}

#side-menu .logo {
  margin-top: 37px;
  margin-bottom: 34px;
}

#side-menu .menu .menus {
  width: 228px;
  height: 42px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#side-menu .menu .menus p {
  font-size: 14px;
  font-weight: 700;
}

#side-menu .menu .menus:hover, 
#side-menu .menu .menus:hover p, 
#side-menu .menu .menus:hover .menu-icons path {
  background-color: #088155;
  color: white;
  fill: white;
  text-decoration: none;
}

#side-menu .menu .menus .menu-icons {
  width: 20px;
  margin-left: 17px;
}

#side-menu .utility {
  position: absolute;
  bottom: 45px;
  margin-left: 30px;
}

#page-container {
  overflow-y: scroll;
}

#page-container .upper-container {
  width: 1080px;
  height: 115px;
}

#page-container .upper-container .search input {
  width: 352px;
  height: 45px;
  padding: 0 60px;
  border: 1px solid #C4C4C4;
  border-radius: 5px; 
}

#page-container .upper-container .search input:focus {
  outline: none !important;
  border: 1px solid #088155;
}

#page-container .upper-container .search img {
  position: relative;
  margin-left: 22px;
  margin-right: -40px;
}

#page-container .mid-text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#page-container .scroll-container {
  overflow-x: auto;
}

#page-container .navbar {
  height: 59px;
  width: 1086px;
  margin-bottom: 6px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

#page-container .navbar p {
  font-size: 16px;
  font-weight: 700;
  color: #088155;
  padding: 9px 45px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  white-space: nowrap;
}

#page-container .navbar a {
  text-decoration: none;
}

#page-container .navbar p:hover,
#page-container .navbar .active {
  border-bottom: 4px solid #F1931F;
}

#page-container .table-container {
  width: 1086px;
  flex-wrap: wrap;
  padding: 50px;
  background-color: white;
  gap: 25px;
}

#page-container .table-container .text-subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

#page-container .table-container .text-title {
  font-size: 20px;
  font-weight: 700;
}

#page-container .table-container .text-title-black {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

#page-container .table-container .text-os-medium {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#page-container .table-container .text-os-medium-heavy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

#page-container .table-container .text-os-small {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

#page-container .table-container .input-full textarea,
#page-container .table-container .input-full input {
  width: 100%; 
}


#page-container .table-container .email-container {
  gap: 30px;
}

#page-container .table-container .email-container .link {
  font-size: 14px;
  font-weight: 700;
  color: #F1931F;
}

#page-container .table-container .email-container .atachment {
  width: fit-content;
  position: relative;
  top: -50px;
  left: 25px;
  z-index: 100;
}

#page-container .table-container .email-container .addressee {
  width: fit-content;
  margin-top: -25px;
  row-gap: 20px;
}

#page-container .table-container .email-container .addressee .text-subtitle {
  margin-bottom: 0px;
  font-size: 14px;
}

#page-container .table-container .email-container .addressee .columns-container {
  column-gap: 190px;
  row-gap: 20px;
}

#page-container .table-container .email-container .addressee .column {
  row-gap: 20px;
}

#page-container .table-container .email-container .addressee .button-send {
  width: 138px;
  height: 42px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #088155;
}

#page-container .table-container .email-container .addressee .button-send:hover {
  background-color: #066945;
}

#page-container .table-container .email-container .addressee .button-send:active {
  background-color: #088155;
}

#page-container .table-container .table .title {
  height: 57px;
  width: 100%;
  background-color: #088155;
  border-radius: 5px 5px 0px 0px;
}

#page-container .table-container .table .title p {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#page-container .table-container .table .content {
  display: grid;
  column-gap: 32px;
  padding: 44px 40px;
  background-color: #F9F9F9;
}



#page-container .table-container .table-big {
  width: 986px;
}

#page-container .table-container .table-big .title {
  margin-bottom: 4px;
}

#page-container .table-container .table-big .title {
  height: 59px;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 226px 246px 306px;
}

#page-container .table-container .table-big .title p {
  font-size: 14px;
  font-weight: 700;
  padding: 0 20px;
}

#page-container .table-container .table-big .content {
  width: 100%;
  padding: 0;
  background-color: transparent;
}

#page-container .table-container .table-big .rows {
  background-color: #F9F9F9;
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 200px 206px 266px 306px;
  min-height: 66px;
}

#page-container .table-container .table-big .rows:hover {
  background-color: #FFF3E1;
}

#page-container .table-container .table-big .rows p {
  padding: 0 10px;
}

#page-container .table-container .table-big .rows .overflow-ellipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


/*media queries-----------------------------*/

@media (max-width: 1299.98px) {
  #page-container .page {
    width: 100%;
  }

  #page-container .upper-container {
    margin: 0 15px;
    width: 97%;
  }

  #page-container .navbar {
    margin-left: 15px;
  }

  #page-container .mid-text {
    max-width: 500px;
    margin-left: 15px;
  }

  #page-container .table-container {
    margin-left: 15px;
    width: calc(100% - 15px);
    flex-direction: column;
    align-items: center;
  }

  #page-container .table-container .table-half .content {
    min-height: fit-content;
  }
} 

@media (max-width: 1199.98px) {
  #page-container .upper-container .search input {
    width: 250px;
  }

  #page-container .table-container {
    flex-wrap: wrap;
  }
} 

@media (max-width: 991.98px) {
  #page-container .upper-container {
    width: 90%;
  }

  #page-container .page .username p {
    width: 100px;
  }
} 

@media (max-width: 767.98px) {
  #side-menu {
    display: none !important;
  }
  
  #page-container .upper-container {
    display: none !important;
  }

  #page-container .small-upper-container {
    height: 82px;
    background-color: white;
    margin-bottom: 22px;
  }

  #page-container .small-upper-container p {
    font-size: 14px;
  }

  #page-container .small-menu {
    padding: 20px 22px;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #088155;
    z-index: 100;
  }

  #page-container .small-menu .profile p {
    font-size: 14px;
    color: white;
  }

  #page-container .small-menu .profile img {
    width: 44px;
  }

  #page-container .small-menu .search {
    margin-top: 28px;
    margin-bottom: 25px;
  }

  #page-container .small-menu .search input {
    width: 280px;
    height: 45px;
    background-color: rgba(0, 255, 162, 0.4);
    padding: 0 60px;
    border: none;
    border-radius: 5px;
  }

  #page-container .small-menu .search input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: white;
  }
  
  #page-container .small-menu .search input:focus {
    outline: none !important;
    border: 1px solid #088155;
    color: white;
  }

  #page-container .small-menu .search img {
    position: relative;
    margin-left: 22px;
    margin-right: -40px;
  }

  #page-container .small-menu .menu .menus {
    width: 280px;
    height: 42px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  #page-container .small-menu .menus p {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  #page-container .small-menu .menu .menus .menu-icons path {
    fill: white;
  }
  
  #page-container .small-menu .menu .active, 
  #page-container .small-menu .menu .active p, 
  #page-container .small-menu .menu .active .menu-icons path {
    background-color: white;
    color: #088155;
    fill: #088155;
    text-decoration: none;
  }
  
  #page-container .small-menu .menu .menus .menu-icons {
    width: 20px;
    margin-left: 20px;
  }

  #page-container .small-menu .line {
    margin-top: 25px;
    border-top: 1px solid white;
  }
  
  #page-container .small-menu .utility {
    position: relative;
    top: 40px;
    margin-left: 15px;
  }

  #page-container .small-menu .utility p {
    font-size: 14px;
    font-weight: 700;
    color: white;
  }

  #page-container .navbar {
    padding: 0;
    margin-left: 0;
    border-radius: 0;
  }

  #page-container .table-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #page-container .table-container .email-container {
    padding: 20px;
  }

  #page-container .table-container .table .content {
    padding: 20px 40px;
  }

  #page-container .table-container .table-big .content {
    padding: 0;
  }
}

@media (max-width: 575.98px) {

  #page-container {
    overflow: unset;
  }

  #page-container .mid-text {
    font-size: 20px;
  }

  #page-container .small-menu .search input {
    width: 100%;
  }

  #page-container .small-menu .menu .menus {
    width: 100%;
  }

  #page-container .table-container {
    align-items: flex-start;
  }
  
  #page-container .table-container .table .title {
    border-radius: 0;
  }
  
  #page-container .table-container .table .title p {
    font-size: 16px;
  }
  
  #page-container .table-container .table .content .input-large select,
  #page-container .table-container .table .content .input-large input {
    width: 315px;
    background-position-x: 95%;
  }
  
  #page-container .table-container .table-half {
    width: 100%;
  }

  #page-container .table-container .table-half .content {
    width: 100%;
    padding: 20px;
  }

  #page-container .table-container .table-big {
    padding: 0;
    margin: 0;
  }
  
}